.background{
    background-image: linear-gradient(rgba(224, 220, 203, 0.438), rgba(240, 255, 240, 0.472)) ,url("../../assets/abstract-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    // animation: wallpaper 5s ease infinite;
}
.user{
    text-align: center;
    margin: 0rem;
    padding-top: 2rem;
    color:rgb(47, 45,66);
    font-size: 36px;
    text-shadow: 5px 5px 15px black;
    text-decoration: underline;
}
.subscribe{
    margin: 0 auto;
    width: 80%;
    padding-top: 5rem;
    
        &__container{
            border-radius: 15px;
             box-shadow: 10px 10px rgba(146, 139, 136, 0.233), -10px -10px rgba(146, 139, 136, 0.233);
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background-color: rgba(47, 45, 66, 0.685);
            background-color: rgba(238, 75, 16, 0.205);
            color: rgba(47, 45, 66, 0.685);  
        }
   &__heading{
        text-align: center;
        font-size: 36px;
        margin-top: 4rem;
       &--text{
        margin: 0rem; 
        text-shadow: 10px 5px 10px rgba(78, 76, 76, 0.479);
       }
   }
   &__offer{
       display: flex;
       align-items: baseline;
       justify-content: space-between;
       padding: 5rem 1rem;
       .italic{
           font-style: italic;
           font-size: 28px;
       }
       &--text
       {
        margin-left: 1rem; 
        & h1{
            margin: 1rem;
            font-size: 36px;
        }
       }
       &--buttons{
           width: 40%;
           display: flex;
           flex-direction: column;
          & button{
              margin: 1rem;
              height: 3.5rem;
              border-radius: 20px;
              background-color: rgb(47, 45,66);
              color: cornsilk;
              font-weight: 700;
              font-size: 26px;
              width: 90%;
          }
       }
   }
}

@keyframes wallpaper {
    0%{background-position: top ;}
    50%{background-position: center;}
    100%{background-position: bottom;}
}