
@use '../../partials/mixins' as *;
@use '../../partials/fonts' as *;
.background{
    background-image: url("../../assets/last-try.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    animation: wallpaper 10s ease infinite ;

}

.user{
    text-align: center;
    margin: 0rem;
    padding-top: 2rem;
    color:white;
    font-size: 36px;
    text-shadow: 5px 5px 15px rgb(230, 221, 221);
    text-decoration: underline;
}
.subscribe{
    margin: 0 auto;
    width: 85%;
    @include desktop{
        width: 60%;
    }
        &__container{                     
            font-family: "oxygen-bold";
            background-color: rgba(68, 59, 59, 0.507);
            box-shadow: rgba(7, 7, 7, 0.35) 0px 5px 15px;
            color: cornsilk;
        }
   &__heading{
        text-align: center;
        padding: 0rem 1rem;
        margin-top: 2rem;
       &--main{
        margin: 0rem; 
        text-shadow: 25px 20px 12px rgb(10, 0, 0);
        font-size: 48px;
        @include desktop{
            font-size: 4rem;
        }
       }
       &--sub{
        font-size: 28px;
        @include desktop{
            font-size: 2rem;
        }
       }
   }
   &__offer{
    padding: 4rem 1rem;
       @include tablet{
           display: flex;
           align-items: baseline;
           justify-content: space-between;
           padding: 4rem 2rem;
       } 
       &--buttons{
           width: 80%;
           margin: 0 auto; 
           @include desktop{
            width: 40%;
        }      
          & button{
              margin: 1rem;
              height: 4rem;
              border-radius: 20px;
              background-color: rgb(47, 45,66);
              color: cornsilk;
              font-weight: 700;
              font-size: 26px;
              width: 90%;
              border: none;
            }
       }
       &--bag{
           width: 60%;
           height: 200px;
           @include tablet{
               width: 30%;
               height: 250px;
           }
           @include desktop{
               width: 20%;
               height: 300px;
           }
           & img{
               height: 100%;
               width: 100%;
           }
           
       }
   }
}

@keyframes wallpaper {
    0%{background-position: 0%;}
    25%{background-position: 40%;}
    50%{background-position: 80% ;}
    75%{background-position: 100%;}
}

