.nav{
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff8dc;
    padding: 1rem 2rem;
    background-color: rgb(47, 45, 66);
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 0px 0px 0 rgb(235,228,200),
                 -1px 1px 0 rgb(216,209,181),
                 -2px 2px 0 rgb(196,189,161),
                 -3px 3px 0 rgb(177,170,142),
                 -4px 4px 0 rgb(157,150,122),
                 -5px 5px 0 rgb(138,131,103),
                 -6px 6px 0 rgb(118,111,83),
                 -7px 7px 0 rgb(98,91,63),
                 -8px 8px 0 rgb(79,72,44),
                 -9px 9px 0 rgb(59,52,24),
                 -10px 10px 0 rgb(40,33,5),
                 -11px 11px 0 rgb(20,13,0),
                 -12px 12px  0 rgb(0,-7,0),
                 -13px 13px 12px rgba(0,0,0,0.99),
                 -13px 13px 1px rgba(0,0,0,0.5),
                 0px 0px 12px rgba(0,0,0,.2);
    
                 &__link{
                    // animation: move 10s infinite;
                     text-decoration: none;
                     color: cornsilk;
                 }
                 &__login{
                     width: 78px;
                     height: 78px;
                     & img{
                         width: 100%;
                         height: 100%;
                     }
                 }

}
.demo{
    height: 100vh;
    width: 100%;
    background-color: rgba(245, 253, 128, 0.664);
}

@keyframes move { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-5%) rotateX(30deg);} 
  30% { transform: translateX(10%);  } 
  45% { transform: translateX(-5%) rotateX(30deg);  } 
  60% { transform: translateX(10%);  } 
  75% { transform: translateX(-5%) rotateX(30deg);} 
  100% { transform: translateX(0%); } 
} 


