
@font-face {
    font-family: "oxygen-bold";
    src: url("../assets/fonts/oxygen/Oxygen-Bold.woff");
}
@font-face {
    font-family: "oxygen-demi";
    src: url("../assets/fonts/oxygen/Oxygen-Regular.woff");
}
@font-face {
    font-family: "oxygen-light";
    src: url("../assets/fonts/oxygen/Oxygen-Light.woff");
}